<app-navbar></app-navbar>
<!-- about.component.html -->
<section class="about-page">
  <div class="container">
    <div class="about-content">
      <h2>About BookHubX</h2>
      <p>
        Welcome to BookHubX, your ultimate destination for exploring and
        discovering a world of books.
      </p>

      <div class="founders-section">
        <h3>Our Founders</h3>
        <div class="founder">
          <img
            src="https://imgs.search.brave.com/nKEBJyuM2_ZukODlK7a0CcCARwBzcomS6VD6Q7_0EwQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5ncWluZGlhLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAx/OC8xMi9HYXV0YW0t/VmF6aXJhbmktR1Eu/anBn"
            alt="Founder 1"
          />
          <p>Vishal Kumar</p>
        </div>
        <div class="founder">
          <img
            src="https://imgs.search.brave.com/k5STeC0N8LLMQYj6F2nOYE-xTlgkOyW6dDiTYN7poV4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5ncWluZGlhLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAx/OC8xMi9SYWh1bC1N/ZWhyYS5qcGc"
            alt="Founder 2"
          />
          <p>Priyanshu Pandey</p>
        </div>
      </div>

      <p>
        At BookHubX, we believe in the power of literature to inspire, educate,
        and connect people. Our mission is to provide a platform where book
        lovers can come together, discover new reads, and engage in meaningful
        discussions.
      </p>

      <p>
        Whether you're an avid reader, an aspiring author, or just someone
        looking for your next favorite book, BookHubX is the place for you.
      </p>
    </div>
  </div>
</section>

<app-footer></app-footer>
