#heading h1 {
  margin: 2%;
  text-align: center;
  color: rgb(188, 134, 35);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#heading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#Create {
  width: 100px;
  height: 40px;
  padding: 1%;
  font-size: 1.2rem;
  color: rgb(104, 76, 76);
  border-radius: 3px;
  background-color: brown;
  color: white;
}

#Create:hover {
  background-color: rgb(250, 41, 41);
  color: rgb(255, 255, 255);
}

#first {
  width: 70%;
}
