/* your-component.component.css */

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

/* Adjust styling as needed */
#heading h1 {
  margin: 2%;
  text-align: center;
  color: rgb(188, 134, 35);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#first {
  width: 70%;
}

#heading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
